<a href="https://colab.research.google.com/github/Vijaya292/Python/blob/main/code_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = int(input())
b = int(input())
c = a+b
print(c)

39
37
76

In [3]:
n = int(input())
if(n % 2 == 0):
    print("even")
else:
    print("odd")

697
odd

In [4]:
n = int(input())
v = int(input())
if(n>=v):
    print(" n is a maximum number")
else:
    print(" n is not a maximum number")6

3
5
 n is not a maximum number

In [5]:
n = int(input())
v = int(input())
w = int(input())
if(n>=v & n>=w):
    print(" n is a maximum number")
elif(v>=n & v>=w):
    print("v is a maximum number")
else:
    print("w is a maximum number")

7
8
9
w is a maximum number

In [6]:
year = int(input())
if(year % 4 == 0 and year% 100 != 0 or year % 400 == 0):
    print("leap year")
else:
    print("not a leap year")

2025
not a leap year

In [7]:
n = int(input())
if n<=0:
    print("factorial does not exist negative numbers")
else:
    factorial = 1
    for i in range(1 ,n + 1):
        factorial = factorial * i
        print("factoroial")

5
factoroial
factoroial
factoroial
factoroial
factoroial

In [8]:
n = int(input())
for num in range(2 , n + 1):
    for i in range(2 , num):
        if(num % i == 0):
            break
    else:
        print(num , end =" ")

9
2 3 5 7

In [9]:
n = int(input())
for i in range(1 , 11 ):
    print(n ,"*", i ,"=", n * i)

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [10]:
n = int(input())
a , b = 0, 1
for i in range(n):
    print(a, end = " ")
a , b = b, a+b

7
0 0 0 0 0 0 0

In [11]:
n = int(input())
sum_n = n * n + 1 // 2
print("Sum of natural numbers up to", n, "is:", sum_n)

9
Sum of natural numbers up to 9 is: 81