<a href="https://colab.research.google.com/github/Vijaya292/Python/blob/main/code_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = int(input())
reverse_n = int(str(n)[::-1])
print(reverse_n)

678
876

In [2]:
n = int(input())
s = str(n)
if(s == s[::-1]):
    print("number is a palindrome")
else:
    print("number is not a palindrme")

123
number is not a palindrme

In [3]:
a = 5
b = 10
a , b = b , a
print(" a = ", a)
print(" b = " , b)

 a =  10
 b =  5

In [5]:
p = int(input())
r = int(input())
t = int(input())
SI = p * r* t // 100
print(SI)

70
68
67
3189

In [6]:
p = int(input())
r = int(input())
t = int(input())
CI = p * 1 + r // 100 ** t - p
print(CI)

23
34
45
0

In [7]:
r = int(input())
area = 3.14 * r**2
print(area)

76
18136.64

In [9]:
n = int(input())
count = 0
for i in str(n):
    count += 1
    print(count)

347870989
1
2
3
4
5
6
7
8
9

In [10]:
num = int(input("Enter a number: "))
n = abs(num)  # to handle negative numbers
total = 0

while n > 0:
    digit = n % 10      # get the last digit
    total += digit      # add it to total

    n //= 10            # ree last digit

print("Sum of digits:", total)

Enter a number: 456
Sum of digits: 15

In [11]:
n = float(input())
if(n<0):
    print("the number is negative number")
elif(n>0):
    print("the nummber is positive number")
else:
    print("the number is zero")

789
the nummber is positive number

In [12]:
num1 = int(input())
num2= int(input())
a = abs(num1)
b = abs(num2)

while b != 0:
    temp = b
    b = a%b
    a = temp
print("HCF of", num1, "and", num2, "is:", a)

78
58
HCF of 78 and 58 is: 2

In [13]:
num1 = int(input())
num2= int(input())
a = abs(num1)
b = abs(num2)

while b != 0:
    temp = b
    b = a%b
    a = temp
print("LCF of", num1, "and", num2, "is:", a)

56
35
LCF of 56 and 35 is: 7

In [14]:
for i in range(97,123):
    print(chr(i) ,end = "")

abcdefghijklmnopqrstuvwxyz

In [15]:
for i in range(65,91):
    print(chr(i) ,end = "")

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [16]:
n = str(input())
if("a","e","i","o","u" and "A","E","I","O","U"):
    print("vowels")
else:
    print("not a vowels")

A
vowels

In [18]:
print("uppercase letters and their ASCII values :")
for i in range(65,91):
  print(chr(i),":",i)
print("\n lowercase letters and their ASCII values :")
for i in range(97,123):
  print(chr(i),":",i)

uppercase letters and their ASCII values :
A : 65
B : 66
C : 67
D : 68
E : 69
F : 70
G : 71
H : 72
I : 73
J : 74
K : 75
L : 76
M : 77
N : 78
O : 79
P : 80
Q : 81
R : 82
S : 83
T : 84
U : 85
V : 86
W : 87
X : 88
Y : 89
Z : 90

 lowercase letters and their ASCII values :
a : 97
b : 98
c : 99
d : 100
e : 101
f : 102
g : 103
h : 104
i : 105
j : 106
k : 107
l : 108
m : 109
n : 110
o : 111
p : 112
q : 113
r : 114
s : 115
t : 116
u : 117
v : 118
w : 119
x : 120
y : 121
z : 122

In [20]:
total = 0
for i in range(1,101):
  if i%2 == 0:
    total += i
print("sum of even numbers from 1 to 101 is:", total)

sum of even numbers from 1 to 101 is: 2550