<a href="https://colab.research.google.com/github/Vijaya292/Python/blob/main/func2_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def happy_birthday(name,age):
    print(f"happy birthday to {name}")
    print(f"you are {age} years old")
    print("happy birthday to u")

happy_birthday("bro",20)
happy_birthday("vijju",30)
happy_birthday("emmu",40)

happy birthday to bro
you are 20 years old
happy birthday to u
happy birthday to vijju
you are 30 years old
happy birthday to u
happy birthday to emmu
you are 40 years old
happy birthday to u

In [2]:
def display_invoice(username,amount,due_date):
    print(f"hello{username}")
    print(f"your bill of {amount} is due :{due_date}")
display_invoice("viiju", 42,"1\01")

helloviiju
your bill of 42 is due :1

In [3]:
def add_numbers(x,y):
    z=x+y
    return z

def subtract_numbers(x,y):
    z=x-y
    return z

def multiply_numbers(x,y):
    z=x*y
    return z

def divide_numbers(x,y):
    z=x/y
    return z

print(add_numbers(10,30))
print(subtract_numbers(10,30))
print(multiply_numbers(10,30))
print(divide_numbers(10,30))

40
-20
300
0.3333333333333333

In [4]:
def create_name(first, last):
    first = first.capitalize()
    last = last.capitalize()
    return first +" " + last

full_name = create_name("bro","code")

print(full_name)

Bro Code

In [5]:
def my_function(child3,child2,child1):
    print("the youngest child  is" + child1)
my_function(child1="viiju",child2="emmu",child3="devil")

the youngest child  isviiju

In [6]:
def my_function(country = "norway"):
    print(" iam from " + country)
my_function("kingdom")
my_function("mazil")
my_function("kashir")

 iam from kingdom
 iam from mazil
 iam from kashir

In [7]:
def my_function(food):
    for x in food:
        print(x)
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry