<a href="https://colab.research.google.com/github/Vijaya292/Python/blob/main/hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = int(input("enter a value:"))
b = int(input("enter a value:"))
print(a + b)
print(a - b)
print(a * b)
print(a % b)
print(a / b)

enter a value:90
enter a value:45
135
45
4050
0
2.0

In [3]:
a = 10
b = 20
print(a<b)

True

In [4]:
a = 10
b = 20
print(a>b)

False

In [6]:
a = 10
b = 20
print(a<=b)

True

In [7]:
a = 10
b = 20
print(a>=b)

False

In [8]:
a = 10
b = 20
print(a==b)

False

In [18]:
a = 10
b = 20
print(a<10 and b<10)
print(a<10 or b<10)

False
False

In [20]:
a = 10
b = 20
print(a<10 and not (b<10))

False

In [27]:
n = int(input())
for num in range(2 , n+1):
  for i in range(2 , num):
    if(i%num==0):
      break

  else:
    print(num,end = " ")

100
2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [29]:
a = int(input("enter a value"))
b = int(input("enter a value"))
a+=b
print(a)

enter a value10
enter a value20
30

In [30]:
a = int(input("enter a value"))
b = int(input("enter a value"))
a-=b
print(a)

enter a value10
enter a value20
-10

In [31]:
a = int(input("enter a value"))
b = int(input("enter a value"))
a*=b
print(a)

enter a value10
enter a value20
200

In [32]:
a = int(input("enter a value"))
b = int(input("enter a value"))
a%=b
print(a)

enter a value10
enter a value20
10

In [45]:
a =[1,2,3,4,5,6]
a.append(7)
a.insert(2,8)
a.pop()
a.remove(5)
a.copy()
a.sort()
a.extend(9,10,11)
a.count()
a.index(3)
a.pop(6)
a.reverse()
print(a)

[11, 10, 8, 6, 4, 3, 2, 1]

In [48]:
a = (1,2,3,"ramu")
print(type(a))

<class 'tuple'>

In [49]:
a = (1,2,3,4,5)
print(a[1:3])

(2, 3)

In [1]:
a = int(input("enter the value:"))
if(a>=18):
  print("eligible for vote")
else:
  print("not eligible for vote")

enter the value:78
eligible for vote

In [2]:
a = int(input())
if(a%2==0):
  print("even number")
else:
  print("odd number")

34
even number

In [4]:
n = int(input())
for i in range(n):
  print(i)

100
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [5]:
for i in range(1,10,3):
  print(i)

1
4
7

In [9]:
def function_name(a,b):
  return a+b
  function_name(10,20)