<a href="https://colab.research.google.com/github/Vijaya292/Python/blob/main/Untitled52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
data = {
    "name" : ["sai","mani"],
    "id" : [20,21]
}
df = pd.DataFrame(data)
print(df)

   name  id
0   sai  20
1  mani  21

In [3]:
import pandas as pd
data = {
    "name" : ["sai","mani","devi","puri","vijju","hema"],
    "id" : [20,21,22,23,34,45]
}
df = pd.DataFrame(data)
print(df.head())

    name  id
0    sai  20
1   mani  21
2   devi  22
3   puri  23
4  vijju  34